<div class="row justify-content-md-center">
    <div class="col demo-inline-calendar-card">
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar [dateFilter]="myFilter" (selectedChange)="addHours($event)"></mat-calendar>
        </mat-card>
    </div>
    <div class="col m-4">
        <div class="mt-1 mb-1 action-item-doctor">
            <h3>SELECIONE DATA E HORÁRIO</h3>
            <h4>{{selected}}</h4>
            <button *ngFor="let e of hours" type="button" class="m-1 btn btn-primary">{{e}}</button>
        </div>
    </div>
</div>