<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <nav class="navbar">
                <div class="container">
                    <section class="wrapper">
                        <h4>
                            Pesquise por nome
                        </h4>
                        <button type="button" class="burger" id="burger2">
                            <fa-icon style="color: #FFF;" [icon]="faFilter" ></fa-icon>
                        </button>
                        <div class="menu" id="menu2">
                            <ul class=" menu-inner">
                                <li >
                                  <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                  Alergologia
                                </li>
                                <li >
                                  <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                  Cardiologia
                                </li>
                                <li >
                                  <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                  Fisioterapia
                                </li>
                                <li >
                                  <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                  Psicologia
                                </li>
                                <li >
                                  <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                  Terapia
                                </li>
                              </ul>
                        </div>
                    </section>
                </div>
            </nav>
            <app-doctors-list></app-doctors-list>
        </div>
    </div>
</div>