<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <nav class="navbar">
                <div class="container">
                    <section class="wrapper">
                        <h4>
                            Pesquise por nome
                        </h4>
                        <button type="button" class="burger" id="burger2">
                            <fa-icon style="color: #FFF;" [icon]="faFilter" ></fa-icon>
                        </button>
                        <div class="menu" id="menu2">
                            <ul class="menu-inner">
                                <li class="menu-item"><a routerLink="/" class="menu-link active">Inicio</a></li>
                                <li class="menu-item"><a routerLink="/scheduling" class="menu-link">Agendamentos</a></li>
                                <li class="menu-item"><a href="#" class="menu-link">Horários</a></li>
                                <li class="menu-item"><a href="#" class="menu-link">Perfil</a></li>
                                <!-- <li class="menu-item"><a href="#" class="menu-link">Blog</a></li> -->
                                <!-- <li class="menu-item"><a href="#" class="menu-link">Contact</a></li> -->
                            </ul>
                        </div>
                    </section>
                </div>
            </nav>
            <app-doctors-list></app-doctors-list>
        </div>
    </div>
</div>